<main>
  <article>
    <div id="<%= dom_id comment %>">
      <h2>Kommentare</h2>
      <p>
        <strong>Comment title:</strong>
        <%= comment.comment_title %>
      </p>
      <p>
        <strong>Comment message:</strong>
        <%= comment.comment_message %>
      </p>
    </div>
  </article>
</main>
