<main>
  <article>
    <div id="<%= dom_id comment %>">
      <h2>Kommentare</h2>
      <p>
        <strong>User:</strong>
        <%= comment.comment_user %>
      </p>
      <p>
        <strong>Titel:</strong>
        <%= comment.comment_title %>
      </p>
      <p>
        <strong>Bewertung:</strong>
        <%= comment.comment_message %>
      </p>
    </div>
  </article>
</main>
