<div id="<%= dom_id subcategory %>">
  <p>
    <strong>Subcategory topic:</strong>
    <%= subcategory.subcategory_topic %>
  </p>
  <p>
    <strong>Subcategory description:</strong>
    <%= subcategory.subcategory_description %>
  </p>
</div>
