<p style="color: green"><%= notice %></p>
<h1>Subkategorien</h1>
<div class="navbar_items">
  <% @subcategories.each do |subcategory| %>
    <%= link_to subcategory.subcategory_topic, subcategory %>
  <% end %>
  <%= link_to "Zur Hauptkategorie", categories_path %>
</div>
